html, body {
    background-color: #990033;
}
.turrentFont {
    font-family: 'Turret Road', cursive;
    color: white !important;
}
.startFont {
    font-family: 'Press Start 2P', cursive;
}
.button:hover {
    background-color: #666666 !important;
}
.button:active {
    background-color: #666666 !important;
}
.button {
    font-size: 2em;
    cursor: pointer;
}